# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Playwright outputs
playwright-report/
test-results/
playwright/.cache/
*.trace.zip
*.zip

# Coverage
coverage/
.nyc_output/

# Build outputs
/dist/
/build/
/out/

# IDE & editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
